* {
  padding: 0%;
  margin: 0%;
  font-family: Montserrat;
}
a{
  text-decoration: none;
}
.barra {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 15vh;
  position: fixed;
  top: 0;
}

.barra-superior {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.lista {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.link a {
  text-decoration: none;
}

.link:hover a {
  cursor: pointer;
  color: #f50057;
}

.barracolor {
  background-color: #f50057;
  border-radius: 20px;
  color: white;
  padding: 8px;
}

.presentacion {
  background-color: rgb(224, 208, 240);
  display: flex;
  justify-content: space-evenly;
  padding-top: 15vh;
}
.presentacion-texto {
  width: 45%;
  margin-top: 25vh;
  margin-left: 12vh;
}

.hola {
  font-size: 30px;
  font-weight: 700;
}
.andre {
  font-size: 64px;
  padding-bottom: 14px;
  color: #f50057;
}

.subtitulo {
  font-size: 20px;
  padding-bottom: 32px;
}
.button {
  background-color: #f50057;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  width: 25%;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.presentacion-imagen {
  width: 45%;
  margin-top: 10vh;
}
.foto {
  width: 100%;
}
.conocimientos {
  background-color: white;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.conocimientos-texto {
  text-align: center;
}
.mis {
  font-size: 35px;
}

.conocimientos-iconos {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
.conocimiento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(224, 208, 240);
  width: 30%;
  height: 30vh;
  margin-top: 2vh;
}
.conocimiento:hover {
  border: solid #f50057 3px;
  cursor: pointer;
}
.icon {
  font-size: 6em;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.icono-iniciales {
  text-align: center;
  font-weight: 700;
}
.conocimiento:hover p {
  color: #f50057;
}

.cita {
  background-color: rgb(224, 208, 240);
  display: flex;
  flex-direction: column;
  padding: 80px 40px 130px;
  text-align: center;
}
.comilla {
  font-size: 5em;
  margin: 25px;
}
.cita-texto {
  background-color: aliceblue;
  font-size: 32px;
  margin-bottom: 25px;
}

.container-proyectos {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}
.titulo-proyectos {
  font-size: 35px;
  margin-top: 10vh;
}
.descripcion-de-proyectos {
  margin-top: 5vh;
}

.proyectos-front {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  padding: 15px;
}
.proyectos-ada {
  background-color: rgb(224, 208, 240);
  width: 25%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.proyectos-ada:hover {
  border: solid #f50057 3px;
  cursor: pointer;
}

.foto-trabajos {
  width: auto;
  max-height: 10em;
  text-align: center;
}
.tipo-proyecto {
  text-align: center;
  
}
.proyectos-ada:hover p {
  cursor: pointer;
}
.contacto {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.container-de-contactame {
  background-color: rgb(224, 208, 240);
  width: 40%;
  padding: 30px;
}
.contactame-titulo {
  font-size: 55px;
}
.redes {
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
  font-size: 22px;
}
.mini {
  border-radius: 25px;
}
.redes:hover i {
  color: #f50057;
  cursor: pointer;
}
.correo {
  margin-right: 10px;
  text-decoration: none;
}
.container-escribeme {
  background-color: rgb(224, 208, 240);
  width: 40%;
  padding: 30px;
}
.escribeme {
  font-size: 55px;
}
.input-nombre {
  border-radius: 10px;
  margin: 7px;
  padding: 5px;
}
.boton-info {
  background-color: #f50057;
  width: 10vw;
  border-radius: 20px;
  color: white;
  padding: 10px;
}
.boton-info:hover {
  cursor: pointer;
}

.footer-arriba {
  background-color: rgb(190, 153, 226);
  display: flex;
  flex-direction: column;
  height: 50vh;
}
.container-footer {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.link-footer {
  width: 100%;
  margin-top: 15vh;
}

.pie-de-pagina-link:hover {
  color: #f50057;
  cursor: pointer;
}

.link-ruta {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  list-style: none;
  text-decoration: none;
}
.links a {
  text-decoration: none;
  color: white;
}



.logo-redes{
  display: flex;
  justify-content: center;
  list-style: none;
  
}




.icon-social{
  padding: 15px;
  font-size: 30px;
  background-color: aliceblue;
  border-radius: 50%;
  margin: 15px;

}


.logo-redes:hover i {
  color: #f50057;
  cursor: pointer;
}
.hecho {
  font-size: 120%;
}

@media (min-width: 820px) and(max-width:1024px) {

  .link{
    display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .presentacion {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    display: flex;
    flex-direction: column;
}


@media (min-width: 480px) and(max-width:819px) {
  .presentacion {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    display: flex;
    flex-direction: column;
}

.escribeme{
  font-size: 25px;
}

@media (max-width: 479px) {
  .barra {
    visibility: hidden;
    display: none;
  }
  .presentacion {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    display: flex;
    flex-direction: column;
  }
.escribeme{
  font: size 35px; ;
}